.main {
    position: relative;
    font-size: 12px;
}

.icon {
    display: flex;
    align-items: center;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.125s ease-in-out;
    padding: 4px;
    opacity: 0.8;
    &:hover {
        background-color: rgba($color: grey, $alpha: 0.2);
        opacity: 1;
    }
}

.bottom {
    position: absolute;
    left: 16px;
    bottom: 0;
    z-index: 5;

}

.top {
    position: absolute;
    left: 16px;
    top: 0;
    z-index: 5;

}

.dropdown-menu {
    display: flex;
    width: 180px;
    bottom:0;
    flex-direction: column;
    border: 1px solid #ccc;
    background-color: #ffff;
    z-index: 1000;
    padding: 8px;
    border-radius: 16px;
    gap: 4px;
    box-shadow:
        0 10px 20px rgba(0, 0, 0, 0.2),
        0 6px 6px rgba(0, 0, 0, 0.2);
}

.menu-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px 8px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    border-radius: 16px;
    &:hover {
        background-color: rgba($color: grey, $alpha: 0.2);
    }
}

.stroke {
    border-bottom: solid 1px rgba($color: grey, $alpha: 0.3);
    margin: 4px 0;
}